{% extends 'base.html' %}

{% block 'titulo' %}Boletim{% endblock 'titulo' %}

{% block 'conteudo' %}

<div class="container">
    {% if status == '0'%}
        <div class="alert alert-success" role="alert">
            Cadastro feito com sucesso
        </div>
    {% endif %}
    
    {% if status == '1'%}
        <div class="alert alert-danger" role="alert">
            Nome ou email não podem estar vazio
        </div>
    {% endif %}
    {% if status == '2'%}
        <div class="alert alert-danger" role="alert">
            Usuário já está cadastrado
        </div>
    {% endif %}
    
    {% if status == '3'%}
        <div class="alert alert-danger" role="alert">
            O nome deve ter mais de 3 digitos
        </div>
    {% endif %}
    
    {% if status == '4'%}
        <div class="alert alert-danger" role="alert">
            O nome não pode ter números
        </div>
    {% endif %}
    {% if status == '5'%}
        <div class="alert alert-danger" role="alert">
            Cpf deve ter 11 digitos
        </div>
    {% endif %}
    {% if status == '6'%}
        <div class="alert alert-danger" role="alert">
            Rg deve ter 7 digitos
        </div>
    {% endif %}
    {% if status == '7'%}
        <div class="alert alert-danger" role="alert">
            Endereço deve ter no mínimo 5 digitos
        </div>
    {% endif %}
    {% if status == '8'%}
        <div class="alert alert-danger" role="alert">
            O email deve possuir @
        </div>
    {% endif %}
    {% if status == '9'%}
        <div class="alert alert-danger" role="alert">
            Senha deve ter mais de 8 digitos
        </div>
    {% endif %}
    {% if status == '10'%}
        <div class="alert alert-danger" role="alert">
            Erro no sistema
        </div>
    {% endif %}
    <br>
    <div class="row">
        <br>
    <div class="col-md-2">
        
    </div>
    <br>
    <br>
    <div style="background-color: white;margin: auto;width: 70%; padding: 2%; border: 2px solid whitesmoke; border-radius: 2%; margin-bottom: 2%; margin-top: 5px;" class="col-md-8">
        <h1 class="text-dark text-xl-center">Frequência</h1>
        <hr style="border-top: 5px solid red;">
        <br>
        <div class="row g-2 text-dark">
            <div class="col-md-4">
                <label for="">Turma</label>
                <select class="form-control" name="" id="">
                    <option value="" disabled selected>Selecione a turma</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="">Aluno</label>
                <select class="form-control" name="" id="">
                    <option value="" disabled selected>Selecione o aluno</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="">Disciplina</label>
                <select class="form-control" name="" id="">
                    <option value="" disabled selected>Selecione a Disciplina</option>
                </select>
            </div>
            <div class="col-md-12 mt-3" style="overflow-x: auto;">
                <table width="80%" height="20%" class="table table-bordered text-dark g-2">
                    <thead>
                        <tr class="table-danger">
                            <th>Mês</td>
                            <th>1</td>
                            <th>2</td>
                            <th>3</td>
                            <th>4</td>
                            <th>5</th>
                            <th>6</td>
                            <th>7</td>
                            <th>8</td>
                            <th>9</td>
                            <th>10</th>
                            <th>11</td>
                            <th>12</td>
                            <th>13</td>
                            <th>14</td>
                            <th>15</th>
                            <th>16</td>
                            <th>17</td>
                            <th>18</td>
                            <th>19</td>
                            <th>20</th>
                            <th>21</td>
                            <th>22</td>
                            <th>23</td>
                            <th>24</td>
                            <th>25</th>
                            <th>26</th>
                            <th>27</th>
                            <th>28</th>
                            <th>29</th>
                            <th>30</th>
                            <th>31</th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        <tr>
                            <th>Janeiro</th>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                        </tr>
                        <tr>
                            <th>Fevereiro</th>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                        </tr>
                        <tr>
                            <th>Março</th>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                        </tr>
                        <tr>
                            <th>Abril</th>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                        </tr>
                        <tr>
                            <th>Maio</th>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                        </tr>
                        <tr>
                            <th>Junho</th>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                        </tr>
                        <tr>
                            <th>Julho</th>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                        </tr>
                        <tr>
                            <th>Agosto</th>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                        </tr>
                        <tr>
                            <th>Setembro</th>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                        </tr>
                        <tr>
                            <th>Outubro</th>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                        </tr>
                        <tr>
                            <th>Novembro</th>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                        </tr>
                        <tr>
                            <th>Dezembro</th>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                            <td><input class="form-control" type="number" name="" id=""></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        
    </div>
    </div>
</div>


{% endblock 'conteudo' %}