{% extends 'base.html' %}

{% block 'titulo' %}Listagem de Professores{% endblock 'titulo' %}

{% block 'conteudo' %}
    <br>
    <br>
    <div style="background-color: white; padding: 5%; border-radius: 20px;" class="container">
      <br>
      <br>
      <div class="row">
        <div class="col-md-6">
          <h1 class="text-dark">Listagem de Professores</h1>
        </div>
        <div style="text-align: right;" class="col-md-6">
          <button  class="btn btn-primary"><a style="text-decoration: none; color: white;" href="{% url 'turma.cadastro' %}">Adicionar Turma</a></button>
          <button  class="btn btn-primary"><a style="text-decoration: none; color: white;" href="{% url 'anexo.cadastro' %}">Adicionar Anexo</a></button>
          <button  class="btn btn-primary"><a style="text-decoration: none; color: white;" href="{% url 'chamada.cadastro' %}">Adicionar Chamada</a></button>
          <button  class="btn btn-primary"><a style="text-decoration: none; color: white;" href="{% url 'mensagem' %}">Adicionar Mensagem</a></button>
          <button  class="btn btn-primary"><a style="text-decoration: none; color: white;" href="{% url 'registro.turma' %}">Adicionar Mensagem</a></button>
        </div>
        
      </div>
      <hr style="border-top: 5px solid red;">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-12">
                
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>
{% endblock 'conteudo' %}