{% extends 'base.html' %}

{% block 'titulo' %}Cadastro{% endblock 'titulo' %}

{% block 'conteudo' %}
<div class="container">
    <br>
    {% if status == '0'%}
        <div class="alert alert-success" role="alert">
            Cadastro feito com sucesso
        </div>
    {% endif %}
    
    {% if status == '1'%}
        <div class="alert alert-danger" role="alert">
            Nome ou email não podem estar vazio
        </div>
    {% endif %}
    {% if status == '2'%}
        <div class="alert alert-danger" role="alert">
            Usuário já está cadastrado
        </div>
    {% endif %}
    
    {% if status == '3'%}
        <div class="alert alert-danger" role="alert">
            O nome deve ter mais de 3 digitos
        </div>
    {% endif %}
    
    {% if status == '4'%}
        <div class="alert alert-danger" role="alert">
            O nome não pode ter números
        </div>
    {% endif %}
    {% if status == '5'%}
        <div class="alert alert-danger" role="alert">
            Cpf deve ter 11 digitos
        </div>
    {% endif %}
    {% if status == '6'%}
        <div class="alert alert-danger" role="alert">
            Rg deve ter 7 digitos
        </div>
    {% endif %}
    {% if status == '7'%}
        <div class="alert alert-danger" role="alert">
            Endereço deve ter no mínimo 5 digitos
        </div>
    {% endif %}
    {% if status == '8'%}
        <div class="alert alert-danger" role="alert">
            O email deve possuir @
        </div>
    {% endif %}
    {% if status == '9'%}
        <div class="alert alert-danger" role="alert">
            Senha deve ter mais de 8 digitos
        </div>
    {% endif %}
    {% if status == '10'%}
        <div class="alert alert-danger" role="alert">
            Erro no sistema
        </div>
    {% endif %}
    <div class="row">
        
    <div class="col-md-2">
        
    </div>

    <div style="background-color: white;margin-top:1%;width: 70%; padding: 2%; border: 2px solid whitesmoke; border-radius: 2%; margin-bottom: 2%;" class="col-md-8">
        <h1 class="text-dark text-xl-center">Cadastro de Usuário</h1>
        <hr style="border-top: 5px solid red;">
        <br>

        <form  method="POST" action={%url 'valida_cadastro' %}>{% csrf_token %}
            <div class="row">
                <div class="mt-3 col-md-12">
                    <label class="text-dark" for="">Nome</label>
                    <input class="form-control" type="text" name="nome" id="" placeholder="Digite seu nome">
                </div>
                <div class="mt-3 col-md-6">
                    <label class="text-dark" for="">Cpf</label>
                    <input class="form-control" type="number" name="cpf" id="" placeholder="Digite seu cpf">
                </div>
                <div class="mt-3 col-md-6">
                    <label class="text-dark" for="">RG</label>
                    <input class="form-control" type="number" name="rg" id="" placeholder="Digite seu RG">
                </div>
                <div class="mt-3 col-md-6">
                    <label class="text-dark" for="">Email</label>
                    <input class="form-control" type="email" name="email" id="" placeholder="Digite seu email">
                </div>
                <div class="mt-3 col-md-6">
                    <label class="text-dark" for="">Endereço</label>
                    <input class="form-control" type="text" name="endereco" id="" placeholder="Digite seu endereço">
                </div>
                <div class="mt-3 col-md-6">
                    <label class="text-dark" for="">Contato</label>
                    <input class="form-control" type="tel" name="telefone" id="" placeholder="Digite seu telefone">
                </div>
                <div class="mt-3 col-md-6">
                    <label class="text-dark"for="">Foto de Perfil</label>
                    <input class="form-control" name="usuario_profile" type="file">
                </div>
                <div class="mt-3 col-md-6">
                    <label class="text-dark" for="">Turno</label>
                    <select class="form-control" name="turno" id="">
                        <option disabled value="" selected>Defina o turno</option>
                        <option value="Manhã">Manhã</option>
                        <option value="Tarde">Tarde</option>
                        <option value="Integral">Integral</option>
                    </select>
                </div>
                <div class="mt-3 col-md-6">
                    <label class="text-dark" for="">Departamento</label>
                    <select class="form-control" name="departamento" id="">
                        <option disabled value="" selected>Defina o Departamento</option>
                        <option value="Coordenação">Coordenação</option>
                        <option value="Professor">Professor</option>
                        <option value="Aluno">Aluno</option>
                    </select>
                </div>
                <div class="mt-3 col-md-6">
                    <label class="text-dark" for="">Senha</label>
                    <input class="form-control" type="password" name="senha" id="" placeholder="Digite sua senha">
                </div>
                <div class="mt-3 col-md-6">
                    <label class="text-dark" for="">Confirme sua senha</label>
                    <input class="form-control" type="password" name="confirm-senha" id="" placeholder="Confirme sua senha">
                </div>
            </div>
            <input style="margin-top: 15px;width:100%;" class="btn btn-danger" type="submit" value="Cadastrar">
        </form>
    </div>

    <div class="col-md-2">
        
    </div>
    </div>
</div>


{% endblock 'conteudo' %}