{% extends 'base.html' %}

{% block 'titulo' %}Listagem de Alunos{% endblock 'titulo' %}

{% block 'conteudo' %}
    <br>
    <br>
    <div style="background-color: white; padding: 5%; border-radius: 20px;" class="container">
      {% if status == '0'%}
        <div class="alert alert-success" role="alert">
            Excluido com sucesso
        </div>
      {% endif %}
      {% if status == '1'%}
        <div class="alert alert-success" role="alert">
            Editado com sucesso
        </div>
      {% endif %}
      {% if status == '5'%}
        <div class="alert alert-danger" role="alert">
            Erro já existe
        </div>
      {% endif %}
      {% if status == '10'%}
        <div class="alert alert-danger" role="alert">
            Não foi possível excluir
        </div>
      {% endif %}
      <div style="background:white;" class="row">
        <div style="background:white;" class="col-md-12">
          <h1 class="text-dark">Listagem de Mensalidade

          </h1>
        </div>
        
        <hr style="border-top: 5px solid red;">
      </div>
      
        <hr>
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-12">
                <table class="table table">
                    <thead>
                      <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Data de pagamento</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Mês</th>
                        <th scope="col">Forma de Pagamento</th>
                        <th scope="col">Situação</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Aluno Um</td>
                        <td>20/02/2023</td>
                        <td>120</td>
                        <td>Fevereiro</td>
                        <td>Pix</td>
                        <td style="text-align:center;"><a href="{%url 'boletim.cadastro' %}"><svg style='color:green' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                            <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                            <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                          </svg></a></td>
                      </tr>
                      <tr>
                        <td>Aluno Dois</td>
                        <td>20/02/2023</td>
                        <td>120</td>
                        <td>Fevereiro</td>
                        <td>Pix</td>
                        <td style="text-align:center"><a href="{%url 'boletim.cadastro' %}"><svg style='color:red' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-x" viewBox="0 0 16 16">
                            <path d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708z"/>
                            <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                          </svg></a></td>
                      </tr>
                      <tr>
                        <td>Aluno Três</td>
                        <td>20/02/2023</td>
                        <td>120</td>
                        <td>Fevereiro</td>
                        <td>Pix</td>
                        <td style="text-align:center"><a href="{%url 'boletim.cadastro' %}"><svg style='color:red' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-x" viewBox="0 0 16 16">
                            <path d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708z"/>
                            <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                          </svg></a></td>
                      </tr>
                      <tr>
                        <td>Aluno Quatro</td>
                        <td>20/02/2023</td>
                        <td>120</td>
                        <td>Fevereiro</td>
                        <td>Pix</td>
                        <td style="text-align:center"><a href="{%url 'boletim.cadastro' %}"><svg style='color:red' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-x" viewBox="0 0 16 16">
                            <path d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708z"/>
                            <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                          </svg></a></td>
                      </tr>
                      <tr>
                        <td>Aluno Cinco</td>
                        <td>20/02/2023</td>
                        <td>120</td>
                        <td>Fevereiro</td>
                        <td>Pix</td>
                        <td style="text-align:center"><a href="{%url 'boletim.cadastro' %}"><svg style='color:green' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                            <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                            <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                          </svg></a></td>
                      </tr>

                    </tbody>
                  </table>
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>
{% endblock 'conteudo' %}