{% extends 'base.html' %}

{% block 'titulo' %}Cadastro de Disciplina{% endblock 'titulo' %}

{% block 'conteudo' %}
<div class="container">
    {% if status == '0'%}
        <div class="alert alert-success" role="alert">
            Cadastro feito com sucesso
        </div>
    {% endif %}
    
    {% if status == '1'%}
        <div class="alert alert-danger" role="alert">
            Nome ou email não podem estar vazio
        </div>
    {% endif %}
    {% if status == '2'%}
        <div class="alert alert-danger" role="alert">
            Usuário já está cadastrado
        </div>
    {% endif %}
    
    {% if status == '3'%}
        <div class="alert alert-danger" role="alert">
            O nome deve ter mais de 3 digitos
        </div>
    {% endif %}
    
    {% if status == '4'%}
        <div class="alert alert-danger" role="alert">
            O nome não pode ter números
        </div>
    {% endif %}
    {% if status == '5'%}
        <div class="alert alert-danger" role="alert">
            Cpf deve ter 11 digitos
        </div>
    {% endif %}
    {% if status == '6'%}
        <div class="alert alert-danger" role="alert">
            Rg deve ter 7 digitos
        </div>
    {% endif %}
    {% if status == '7'%}
        <div class="alert alert-danger" role="alert">
            Endereço deve ter no mínimo 5 digitos
        </div>
    {% endif %}
    {% if status == '8'%}
        <div class="alert alert-danger" role="alert">
            O email deve possuir @
        </div>
    {% endif %}
    {% if status == '9'%}
        <div class="alert alert-danger" role="alert">
            Senha deve ter mais de 8 digitos
        </div>
    {% endif %}
    {% if status == '10'%}
        <div class="alert alert-danger" role="alert">
            Erro no sistema
        </div>
    {% endif %}
    <br>
    <div class="row">
        <br>
    <div class="col-md-3">
        
    </div>
    <br>
    <br>
    <div class="col-md-12">

        <form class="row g-2" style="margin: auto;width: 70%; padding: 2%; border: 2px solid whitesmoke; border-radius: 2%; margin-bottom: 2%;"method="POST" action="">{% csrf_token %}
            <div class="col-md-12">
                <label class="text-dark" for="">Nome da disciplina</label>
                {{form.nome_disciplina}}
            </div>
            <div class="col-md-12">
                <label class="text-dark" for="">Nome Professor</label>
                {{form.professor_disciplina}}
            </div>
            <input class="btn btn-warning" type="submit" value="Cadastrar">
            
        </form>
    </div>

    <div class="col-md-3">
        
    </div>
    </div>
</div>


{% endblock 'conteudo' %}