{% extends 'base.html' %}

{% block 'titulo' %}Boletim{% endblock 'titulo' %}

{% block 'conteudo' %}

<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <div>
                <h1 class="text-dark">Cadastro de Boletins</h1>
                <hr>
            </div>
            <div style="text-align: right;" class="col-md-6">
                <button  class="btn btn-primary"><a style="text-decoration: none; color: white;" href="{% url 'boletim.1b' %}">1º Bimestre</a></button>
            </div>
            <div style="text-align: right;" class="col-md-6">
                <button  class="btn btn-primary"><a style="text-decoration: none; color: white;" href="{% url 'boletim.2b' %}">2º Bimestre</a></button>
            </div>
            <div style="text-align: right;" class="col-md-6">
                <button  class="btn btn-primary"><a style="text-decoration: none; color: white;" href="{% url 'boletim.3b' %}">3º Bimestre</a></button>
            </div>
            <div style="text-align: right;" class="col-md-6">
                <button  class="btn btn-primary"><a style="text-decoration: none; color: white;" href="{% url 'boletim.4b' %}">4º Bimestre</a></button>
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>


{% endblock 'conteudo' %}


