{% extends 'base.html' %}

{% block 'titulo' %}Cadastro de Aluno{% endblock 'titulo' %}

{% block 'conteudo' %}

<div class="container">
    {% if status == '0'%}
        <div class="alert alert-success" role="alert">
            Cadastro feito com sucesso
        </div>
    {% endif %}
    
    {% if status == '1'%}
        <div class="alert alert-danger" role="alert">
            Nome ou email não podem estar vazio
        </div>
    {% endif %}
    {% if status == '2'%}
        <div class="alert alert-danger" role="alert">
            Usuário já está cadastrado
        </div>
    {% endif %}
    
    {% if status == '3'%}
        <div class="alert alert-danger" role="alert">
            O nome deve ter mais de 3 digitos
        </div>
    {% endif %}
    
    {% if status == '4'%}
        <div class="alert alert-danger" role="alert">
            O nome não pode ter números
        </div>
    {% endif %}
    {% if status == '5'%}
        <div class="alert alert-danger" role="alert">
            Cpf deve ter 11 digitos
        </div>
    {% endif %}
    {% if status == '6'%}
        <div class="alert alert-danger" role="alert">
            Rg deve ter 7 digitos
        </div>
    {% endif %}
    {% if status == '7'%}
        <div class="alert alert-danger" role="alert">
            Endereço deve ter no mínimo 5 digitos
        </div>
    {% endif %}
    {% if status == '8'%}
        <div class="alert alert-danger" role="alert">
            O email deve possuir @
        </div>
    {% endif %}
    {% if status == '9'%}
        <div class="alert alert-danger" role="alert">
            Senha deve ter mais de 8 digitos
        </div>
    {% endif %}
    {% if status == '10'%}
        <div class="alert alert-danger" role="alert">
            Erro no sistema
        </div>
    {% endif %}
    <br>
    <div class="row">
        <br>
    <div class="col-md-2">
        
    </div>

    <div style="background-color: white;margin: auto;width: 70%; padding: 2%; border: 2px solid whitesmoke; border-radius: 2%; margin-bottom: 2%;" class="col-md-8">
        <h1 class="text-dark text-xl-center">Cadastro de Aluno</h1>
        <hr style="border-top: 5px solid red;">
        <br>
        <form class="g-10" method="POST" action="">{% csrf_token %}
            <div class="row">
                <div class="mt-3 col-md-12">
                    <label class="text-dark" for="">Nome</label>
                    {{form.nome_aluno}}
                </div>
                <div class="mt-3 col-md-6">
                    <label class="text-dark" for="">Cpf</label>
                    {{form.cpf_aluno}}
                </div>
                <div class="mt-3 col-md-6">
                    <label class="text-dark" for="">RG</label>
                    {{form.rg_aluno}}
                </div>
                <div class="mt-3 col-md-6">
                    <label class="text-dark" for="">Email</label>
                    {{form.email_aluno}}
                </div>
                <div class="mt-3 col-md-6">
                    <label class="text-dark" for="">Endereço</label>
                    {{form.endereco_aluno}}
                </div>
                <div class="mt-3 col-md-4">
                    <label class="text-dark" for="">Contato</label>
                    {{form.contato_aluno}}
                </div>
                <div class="mt-3 col-md-4">
                    <label class="text-dark" for="">Data Nascimento</label>
                    {{form.data_nascimento_aluno}}
                </div>
                <div class="mt-3 col-md-4">
                    <label class="text-dark" for="">Data Entrada</label>
                    {{form.data_entrada_aluno}}
                </div>
                <div class="mt-3 col-md-4">
                    <label class="text-dark" for="">Turno</label>
                    {{form.turno_aluno}}
                </div>
                <div class="mt-3 col-md-4">
                    <label class="text-dark" for="">Raça</label>
                    {{form.raca_aluno}}
                </div>
                <div class="mt-3 col-md-4">
                    <label class="text-dark" for="">Sexo</label>
                    {{form.sexo_aluno}}
                </div>
                <div class="mt-3 text-dark col-md-12">
                    <label class="mt-3 text-dark" for="">Turmas</label>
                    {{form.turma_aluno}}
                </div>
                <input style="margin:15px 15px 0 15px;width:100%;" class="btn btn-danger" type="submit" value="Cadastrar">
            </div>
            
            
        </form>
    </div>

    <div class="col-md-2">
        
    </div>
    </div>
</div>


{% endblock 'conteudo' %}