{% extends 'base.html' %}

{% block 'titulo' %}{{aluno.nome_aluno}}{% endblock 'titulo' %}

{% block 'conteudo' %}
<div class="text-dark container">
    <br>
    <h5>Dados do Aluno</h5>
    <hr>
    {% for aluno in object_list %}
    <h6>Nome:</h6><p>{{aluno.nome_aluno}}</p>
    <h6>Rg:</h6><p>{{aluno.rg_aluno}}</p>
    <h6>CPF:</h6><p>{{aluno.cpf_aluno}}</p>
    <h6>Email:</h6><p>{{aluno.email_aluno}}</p>
    <h6>Telefone:</h6><p>{{aluno.contato_aluno}}</p>
    <h6>Endereço:</h6><p>{{aluno.endereco_aluno}}</p>
    <h6>Turno:</h6><p>{{aluno.turno_aluno}}</p>
    <h6>Turmas:</h6><p>{{aluno.turma_aluno}}</p>
    {% endfor %}
    
</div>

{% endblock 'conteudo' %}